{% extends "admin_base_layout.html" %}
{% block body %}
<div class="container  sm:pt-0">
    <div class="mt-2 bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
        <h3 class="text-center mt-2">Side Master</h3>
        
        <form class="p-4" method="post" action="" enctype= "multipart/form-data">
            {% csrf_token %}
            <div class="card">
               
                {% comment %} <div class="card-header px-2 py-1 bg-success text-white">Purchaser Details</div> {% endcomment %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 form-group mb-3">
                            {{ form.side_name.label_tag }} <span class="text-danger">*</span>
                            {{ form.side_name }}
                            {% if form.side_name.errors %}
                                <span class="text-danger">{{ form.side_name.errors.0 }}</span>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-sm custom-pay-button mt-3">
                            Submit   {% comment %} Pay Rs.1080 bonanza + Rs. 2100 {% endcomment %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
